<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<body data-spy="scroll" data-target="#navbar" data-offset="60">
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div id='preloader'>
		<div class='loader'>
			<img src="resour/img/three-dots.svg" width="60" alt="">
		</div>
	</div>
	<!-- Preloader -->

	
	<section id="home" class="slider_section">
		<ul>
			<li class="slider_item" style="background-image: url(resour/img/slider-4.jpg); height:350px;">
				<div class="display-table">
					<div class="table-cell">
						<div class="container">
							<div class="col-sm-8">
								<div class="slider_content">
									<!-- <h1 class="text-white">We Put You First.</h1>
										<p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> It has survived not only five centuries.</p>
										<a href="#" class="fs_btn">Get Started Now</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<!-- /.slider_section -->

	<section id="about" class="about_section bg-white bd-bottom padding">
		<div class="container">
			<div class="col-sm-6">
				<div class="about_content sm-no-padding">
					<h2>About Us
						<i class="material-icons" style="font-size:20px;color:#3946ff;">whatshot</i>
					</h2>
					<p>The company was founded by Mr. Antoine Yammine and Mr. Joseph Yammine in 1990. It was named under Yamco Gaz and had
						branched out to Yamco Express which it was established in Zgharta, North Lebanon. The idea was to fill and distribute
						gas tanks in a safe and fast environment, while offering the quality needed.Not to mention that Nor Gaz is considered
						antoher branch of Yamco Gaz. </p>

					<p>
						<strong>
							<font>- Our mission </font>
						</strong> is to supply different types of gases, for instance, Industrial Gaz (Propane) which is more popular for Hospitals,
						restaurants and resorts. We have been providing the market with gas for over 30 years now, and we have established
						one of the best reputations for installing and equipping restaurants, houses and spas.</p>

				</div>
			</div>
			<div class="col-sm-6 hidden-xs">
				<div class="about_img">
					<br>
					<br>
					<img src="resour/img/about-bg-5.jpg" alt="idea-images" class="about_img_1" style="float: right; height:70%;width:70%">
					<!-- <img src="resour/img/about-bg-2.jpg" alt="idea-images" class="about_img_2"> -->
				</div>
			</div>
		</div>
		<!-- <div class="line"></div> -->
		<div class="container">
			<div class="col-sm-6">
				<div class="about_content sm-no-padding">
					<h2>Our Work
						<i class="material-icons" style="font-size:20px;color:#3946ff;">whatshot</i>
					</h2>
					<p>Yamco Gaz ensures that it delivers public safety by a strict supervision from a specialty team controlled by competent
						ministers. Not to mention our trained members that are responsible for maintenance and installation which will provide
						both quality and protection. </p>
					<p>It was always the goal to provide the best service and quality, and we have tried to develop new systems to prohibit
						monopolies as well. In fact, Mr. Antoine Yammine has succeeded to unite gas companies’ owners in Lebanon to head an
						association to protect gas services, and ban monopolies under the name of “Syndicate of the Owners and Investors of
						Domestic Gas Bottling in Lebanon”.</p>
				</div>
			</div>
			<div class="col-sm-6 hidden-xs">
				<div class="about_img">
					<!-- <img src="resour/img/about-bg-3.jpg" alt="idea-images" class="about_img_1"> -->
					<img src="resour/img/about-bg-4.jpg" alt="idea-images" class="about_img_2" style="float:right;width:70%; height:63%;">
				</div>
			</div>
		</div>

		<div class="container bd-bottom ">
			<div class="col-sm-12">
				<div class="about_content sm-no-padding">
					<h2>Propane vs Butane
						<i class="material-icons" style="font-size:20px;color:#3946ff;">whatshot</i>
					</h2>
					<p>You think you have worked out what you want, then you discover there are two types of LPG (Liqueified Petroleum Gas)
						– Butane and Propane. </p>

					<strong>
						<font style="font-size: 20px; color:#000;">Propane:</font>
					</strong>
					<br>
					<p> Propane is widely used over butane when camping or climbing in cold temperatures, because of its lower boiling point that keeps
					 it a gas even in very low temperatures. Therefore, it is a better material for exterior usage. Some of the common uses of propane are heating systems,
					 either domestic or commercial ones. It is also known to be used in restaurants, resorts and hospitals because it exerts much higher pressure compared 
					 to butane gas.</p>
				
				

					<strong>
						<font style="font-size: 20px; color:#000;">Butane:</font>
					</strong>
					<br>
					<p>
					Butane is more appropriate for interior usage because it exerts less pressure. It is cheaper than propane
				    gas, and it is mostly used in houses for cooking, baking and portable heaters.
					</p>



				</div>
			</div>
		</div>



	</section>
	<!--/.about_section -->

	<footer class="footer_section bg-dark">
		<div class="container">
			<div class="col-xs-6 xs-padding">
				<div class="copyright">Copyright &copy; <span id="year"></span> YAMCO.All Rights Reserved</div>
			</div>
			<div class="col-xs-6 xs-padding">
				<ul class="footer_social">
					<li>
						<a href="https://www.facebook.com/Yamcogroup/?ref=br_rs" target="_blank">
							<i class="social_facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=gHELsZK9BOs" target="_blank">
							<i class="social_youtube"></i>
						</a>
					</li>
					<li>
						<a href="mailto:yamcogaz90@gamil.com" target="_blank">
							<i class="social_googleplus"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/yamcogaz/" target="_blank">
							<i class="social_instagram"></i>
						</a>
					</li>
					<li>
						<a href="#">Web Design by AE Development</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- /.footer_section -->



</body>

</html>