
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<body data-spy="scroll" data-target="#navbar" data-offset="60">
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<div id='preloader'>
		<div class='loader'>
			<img src="resour/img/three-dots.svg" width="60" alt="">
		</div>
	</div>
	<!-- Preloader -->



	
	

	<section id="home" class="slider_section">
		<ul id="main-slider" class="owl-carousel main_slider">
			<li class="slider_item" style="background-image: url(resour/img/slider-1.jpg)">
				<div class="display-table">
					<div class="table-cell">
						<div class="container">
							<div class="col-sm-8">
								<div class="slider_content">
									<h1 class="text-silver">We Put You First.</h1>
									 <p class="text-black"><strong>Call us and we will never let you down.</strong></p> 
									<a href="#contact" class="fs_btn">Contact Us Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="slider_item" style="background-image: url(resour/img/slider-2.jpg)">
				<div class="display-table">
					<div class="table-cell">
						<div class="container">
							<div class="col-sm-8">
								<div class="slider_content">
									<h1 class="text-silver">You’re One Call Away.</h1>
									<p class="text-black"><strong>Yamco Gaz delivers only with a simple phone call your gas cylinder to your doorsteps at any time of the day.</strong> </p>
									<a href="#call" class="fs_btn">Call Us Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="slider_item" style="background-image: url(resour/img/slider-3.jpg)">
				<div class="display-table">
					<div class="table-cell">
						<div class="container">
							<div class="col-sm-8">
								<div class="slider_content">
									<h1 class="text-silver">Taste The Difference.</h1>
									<p class="text-black"><strong>We are the best, we guarantee that you notice a change.</strong></p>
									<a href="#contact" class="fs_btn">Contact Us Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<!-- /.slider_section -->

	<section id="about" class="about_section bg-grey bd-bottom padding">
		<div class="container">
			<div class="col-sm-6">
				<div class="about_content sm-no-padding">
					<h2>About Us</h2>
					<p>The company was founded by Mr. Antoine Yammine and Mr. Joseph Yammine in 1990. It was named under Yamco Gaz and had
						branched out to Yamco Express which it was established in Zgharta, North Lebanon. Not to mention that Nor Gaz is considered antoher branch of Yamco Gaz. </p>
					<p> The idea was to fill and distribute gas tanks in a safe and fast environment, while offering the quality needed.</p>
					<a href="#contact" class="fs_btn">More Info</a>
				</div>
			</div>
			<div class="col-sm-6 hidden-xs">
				<div class="about_img">
					<img src="resour/img/about-bg-3.jpg" alt="idea-images" class="about_img_1">
					<img src="resour/img/about-bg-2.jpg" alt="idea-images" class="about_img_2">
				</div>
			</div>
		</div>
	</section>
	<!--/.about_section -->

	<section id="services" class="services_section bd-bottom padding">
		<div class="container">
			<div class="section_heading align-center mb-40">
				<h2>Services</h2>
				<p> Below we have listed the services that we offer to our clients along with a brief description.</p>
			</div>
			<!-- /.section_heading -->
		</div>
		<div class="container-fluid no-padding">
			<ul class="service_items">
				<!-- <li *ngFor='let x of MyServices' class="col-md-3 col-xs-6">
					<div class="service_content">
						<img [src]="x.IMAGE" alt="Services">
						<div class="overlay">
							<div class="display-table">
								<div class="table-cell">
								
									<h4>{{x.TITLE}}</h4>
									<p>{{x.DESCRIPTION}}</p>
								</div>
							</div>
						</div>
					</div>
				</li> -->
				<!--
						<input type="text" [(ngModel)]='Member.FIRST_NAME' placeholder="First name" />
						<input type="text" [(ngModel)]='Member.LAST_NAME' placeholder="Last name" />
					-->
					
					<li class="col-md-3 col-xs-6">
						<div class="service_content">
							<img src="resour/img/service-1.jpg" alt="Services">
							<div class="overlay">
								<div class="display-table">
									<div class="table-cell">
										<h4>Underground Gaz Installation</h4>
										<p>We provide polyethylene gas piping systems which are specifically engineered and certified for the underground environment.</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-xs-6">
						<div class="service_content">
							<img src="resour/img/service-2.jpg" alt="Services">
							<div class="overlay">
								<div class="display-table">
									<div class="table-cell">
										<h4>Industrial Gas Supply</h4>
										<p>We are responsible for supplying Industrial Gas (Propane) which is more popular for Hospitals, restaurants and resorts.</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-xs-6">
						<div class="service_content">
							<img src="resour/img/service-3.jpg" alt="Services">
							<div class="overlay">
								<div class="display-table">
									<div class="table-cell">
										<h4>Maintenance</h4>
										<p>We have highly trained members that are responsible for maintenance and installation which will provide both quality and protection.</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-xs-6">
						<div class="service_content">
							<img src="resour/img/service-4.jpg" alt="Services">
							<div class="overlay">
								<div class="display-table">
									<div class="table-cell">
										<h4>Delivery</h4>
										<p>We serve your order quickly and at any time you choose. Yamco Gaz covers more than 12 areas in north Lebanon with a massive system of distributors to serve your requests.</p>
									</div>
								</div>
							</div>
						</div>
					</li>
			</ul>
			<!-- /.service_items -->
		</div>
	</section>
	<!-- /.services_section -->

	<section id="team" class="team_section padding">
		<div class="container">
			<div class="section_heading align-center mb-40">
				<h2>Meet Our Management Team</h2>
				<p>Our management team consists of highly trained people who have large experience in gas in its all aspects.They guide
					our company, helping us live our purpose and achieve our vision.</p>
			</div>
			<!-- /.section_heading -->
			<ul class="team_members">
				<li class="col-md-4 col-xs-6">
					<div class="team_member">
						<img src="resour/img/team-1.jpg" alt="Team Member">
						<div class="overlay">
							<h3>MR. ANTOINE Y. YAMMINE</h3>
							<p>GENERAL MANAGER</p>
							<ul class="social_links">
								<li>
									<a href="https://www.facebook.com/antoineyammin">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/yamcogaz">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="mailto:yamcogaz90@gamil.com">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="col-md-4 col-xs-6">
					<div class="team_member">
						<img src="resour/img/team-2.jpg" alt="Team Member">
						<div class="overlay">
							<h3>MR. JOSEPH YAMMINE</h3>
							<p>ADMINISTRATIVE MANAGER</p>
							<ul class="social_links">
								<li>
									<a href="https://www.facebook.com/joseph.yammine.9822">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="mailto:yamcogaz90@gamil.com">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="col-md-4 col-xs-6">
					<div class="team_member">
						<img src="resour/img/team-3.jpg" alt="Team Member">
						<div class="overlay">
							<h3>MR. ANTOINE J. YAMMINE</h3>
							<p>SALES MANAGER</p>
							<ul class="social_links">
								<li>
									<a href="https://www.facebook.com/antoine.yammine.79">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/antoineyamminee/?hl=en">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="mailto:yamcogaz90@gamil.com">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
			<!-- /.team_members -->
		</div>
	</section>
	<!-- /.team_section -->

	<section id="call" class="cta_section">
		<div class="container">
			<div class="cta_content">
				<h2 class="text-white">Help Us Help You ! Call Us Now !</h2>
				<p>Our staff are available everyday from 7:00 AM till 11:00 PM and ready to passionetly serve you.
					<br> Do not hesitate and call us now on:</p>
				<p>
					<i class="material-icons" style="font-size:30px;color:#3946ff;">local_phone</i>
					<font style="font-size:15px "> +961 6667030 - +961 6667050 </font>
				</p>
				<p>
					<i class="material-icons" style="font-size:30px;color:#3946ff;">local_phone</i>
					<font style="font-size:15px "> +961 6255030 - +961 6255050 </font>
				</p>
				<!-- <p>Join us on Facebook</p> 
					<p><a href="https://www.facebook.com/Yamcogroup/?ref=br_rs"><i style="color: #3946ff" class="fa fa-facebook-square fa-3x"></i></a></p>	
		 -->
			</div>
		</div>
	</section>
	<!-- /.cta_section -->

	<section id="WhyUs" class="testimonial_section padding">
		<div class="container">
			<div class="heading align-center mb-40">
				<h2>Why Choose Us</h2>
				<p>Here are some major factors to help you make your decision. </p>
			</div>
			<!-- /.heading -->
			<div class="testimonial_items">

				<!-- testimonial 1 -->
				<div class="col-md-4 col-xs-6 sm-padding">
					<div class="testi_item align-center">
						<i class="material-icons" style="font-size:60px;color:red;">history</i>
						<h4>
							<font style="color: #3946ff">EXPERTISE</font>
						</h4>
						<p><strong>People ask for experience usually, and we think that 30 years is enough to prove that we are experienced in what we
							do.</strong></p>
					</div>
				</div>

				<!-- testimonial 2 -->
				<div class="col-md-4 col-xs-6 sm-padding">
					<div class="testi_item align-center">
						<i class="material-icons" style="font-size:60px;color:red;">assignment_turned_in</i>
						<h4>
							<font style="color: #3946ff">PRODUCT GUARANTEE</font>
						</h4>
						<p><strong>Safety, quality as well as expertise can guarantee that Yamco Express assists its customers with premium merchandises.</strong></p>
					</div>
				</div>

				<!-- testimonial 3 -->
				<div class="col-md-4 col-xs-6 sm-padding">
					<div class="testi_item align-center">
						<i class="material-icons" style="font-size:60px;color:red;">people_outline</i>
						<h4>
							<font style="color: #3946ff">STAFF</font>
						</h4>
						<p><strong>We have a dedicated, highly skilled group of professionals that will take care of your implementation as well as maintenance.</strong></p>
					</div>
				</div>

				<!-- testimonial 4 -->
				<div class="col-md-4 col-xs-6 sm-padding">
					<div class="testi_item align-center">
						<i class="material-icons" style="font-size:60px;color:red;">verified_user</i>
						<h4>
							<font style="color: #3946ff">SAFETY</font>
						</h4>
						<p><strong>Safety is our number one concern. That is why we make sure that our pressurized tanks are stored safely and not overfilled,
							which keeps a factor of safety greater than one.</strong></p>
					</div>
				</div>

				<!-- testimonial 5 -->
				<div class="col-md-4 col-xs-6 sm-padding">
					<div class="testi_item align-center">
						<i class="material-icons" style="font-size:60px;color:red;">check_circle_outline</i>
						<h4>
							<font style="color: #3946ff">QUALITY</font>
						</h4>
						<p><strong>Concerning the quality, hands down we offer one of the best in the market. Customers look for the finest goods and
							that is all what we serve.</strong></p>
					</div>
				</div>

				<!-- testimonial 6 -->
				<div class="col-md-4 col-xs-6 sm-padding">
					<div class="testi_item align-center">
						<i class="material-icons" style="font-size:60px;color:red;">build</i>
						<h4>
							<font style="color: #3946ff">MAINTENANCE</font>
						</h4>
						<p><strong>Indeed problems occur, therefore we make sure to bring specialists in every work area, starting from the call center, to filling the tanks and distributing
							them all over the north.</strong></p>
					</div>
				</div>


				<!-- testimonial 6 -->
			</div>
		</div>
	</section>
	<!-- /.testimonial_section -->

	<section id="video" class="video_section align-center">
		<div class="container">
			<a data-type="youtube" href="https://www.youtube.com/embed/gHELsZK9BOs" class="img_popup">
				<i class="arrow_triangle-right_alt2 " style="color: red"></i>
			</a>
			<h2 class="text-white">Watch Our Video</h2>
		</div>
	</section>
	<!-- /video_section -->

	<section id="blog" class="blog_section bd-bottom padding">
		<div class="container">
			<div class="section_heading align-center mb-40">
				<h2>Latest News</h2>
				<p>Stay tuned for more news coming up soon through our blog </p>
			</div>
			<!-- /.section_heading -->
			<div class="col-md-4 col-xs-6 sm-padding">
				<div class="blog_post">
					<img src="resour/img/blog-1.jpg" alt="blog-image">
					<div class="blog_content">
						<h4>
							<a href="#">Check out our latest news</a>
						</h4>
						<P>Stay informed with latest projects in the gas business through our blog.</P>
						<span class="post_meta">
							<a href="">READ MORE</a>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 sm-padding">
				<div class="blog_post">
					<img src="resour/img/blog-2.jpg" alt="blog-image">
					<div class="blog_content">
						<h4>
							<a href="#">Check out our latest news</a>
						</h4>
						<P>Stay informed with latest projects in the gas business through our blog.</P>
						<span class="post_meta">
							<a href="">READ MORE</a>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 sm-padding">
				<div class="blog_post">
					<img src="resour/img/blog-3.jpg" alt="blog-image">
					<div class="blog_content">
						<h4>
							<a href="#">Check out our latest news</a>
						</h4>
						<P>Stay informed with latest projects in the gas business through our blog.</P>
						<span class="post_meta">
							<a href="">READ MORE</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.blog_section -->

	<section id="contact" class="contact_section padding">
		
		<!-- /#google_map -->
		<div class="container">
			<div class="col-sm col-sm-offset">
				<div class="contact_wrap">
					<h2>Contact Us</h2>
					<br>
					<p>
						<strong>From 7:00 AM till 7:00 PM Call Us On:</strong> <br>
						<i class="material-icons" style="font-size:18px;color:#3946ff;">local_phone</i>
						<font style="font-size:15px "> +961 6 667 030/050 -
							<span class="material-icons" style="font-size:18px;color:#3946ff;">local_phone</span> +961 6 255 030/050 </font>
					</p>
					<p>
							<strong>And From 7:00 PM till 11:00 PM On:</strong> <br>
						<i class="material-icons" style="font-size:18px;color:#3946ff;">local_phone</i>
						<font style="font-size:15px "> +961 3 311 830 -
							<span class="material-icons" style="font-size:18px;color:#3946ff;">local_phone</span> +961 3 279 194 </font>
					</p>
					<p>
						<a href="https://maps.app.goo.gl/pY6fvujDSD7ceG6DA">
						<span class="material-icons" style="font-size:15px;color:#3946ff;">
							location_on
							</span> North Lebanon - Zgharta, Kfar Dlaqous
						</a>
					</p>
					<div class="contact_form">
						<form action="contact.php" method="post" id="ajax_form" class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-6">
									<input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
								</div>
								<div class="col-sm-6">
									<input type="email" id="email_id" name="email" class="form-control" placeholder="Email" required>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12">
									<textarea id="message" name="message" cols="30" rows="5" class="form-control msg" placeholder="Message" required></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12">
									<button id="submit" class="fs_btn" type="submit">Send Message</button>
								</div>
							</div>
							<div id="form-messages" class="alert" role="alert"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.contact_section -->

	<footer class="footer_section bg-dark">
		<div class="container">
			<div class="col-xs-6 xs-padding">
				<div class="copyright">Copyright &copy; <span id="year"></span> YAMCO GAZ.All Rights Reserved</div>
			</div>
			<div class="col-xs-6 xs-padding">
				<ul class="footer_social">
					<li>
						<a href="https://www.facebook.com/Yamcogroup/?ref=br_rs" target="_blank">
							<i class="social_facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=gHELsZK9BOs" target="_blank">
							<i class="social_youtube"></i>
						</a>
					</li>
					<li>
						<a href="mailto:yamcogaz90@gamil.com" target="_blank">
							<i class="social_googleplus"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/yamcogaz/" target="_blank">
							<i class="social_instagram"></i>
						</a>
					</li>
					<li>
						<a href="#">Web Design by AE Development</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- /.footer_section -->

	<a data-scroll href="#header" id="scroll-to-top">
		<i class="arrow_carrot-up"></i>
	</a>


</body>

</html>
